
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="../../static/vendors/popper/popper.min.js" th:src="@{/vendors/popper/popper.min.js}"></script>
<script src="../../static/vendors/bootstrap/bootstrap.min.js" th:src="@{/vendors/bootstrap/bootstrap.min.js}"></script>
<script src="../../static/vendors/anchorjs/anchor.min.js" th:src="@{/vendors/anchorjs/anchor.min.js}"></script>
<script src="../../static/vendors/is/is.min.js" th:src="@{/vendors/is/is.min.js}"></script>
<script src="../../static/vendors/fontawesome/all.min.js" th:src="@{/vendors/fontawesome/all.min.js}"></script>
<script src="../../static/vendors/lodash/lodash.min.js" th:src="@{/vendors/lodash/lodash.min.js}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll" th:src="@{https://polyfill.io/v3/polyfill.min.js?features=window.scroll}"></script>
<script src="../../static/vendors/list.js/list.min.js" th:src="@{/vendors/list.js/list.min.js}"></script>
<script src="../../static/vendors/feather-icons/feather.min.js" th:src="@{/vendors/feather-icons/feather.min.js}"></script>
<script src="../../static/vendors/dayjs/dayjs.min.js" th:src="@{/vendors/dayjs/dayjs.min.js}"></script>
<script src="../../static/assets/js/phoenix.js" th:src="@{/assets/js/phoenix.js}"></script>
<script src="../../static/vendors/echarts/echarts.min.js" th:src="@{/vendors/echarts/echarts.min.js}"></script>
<script src="../../static/vendors/leaflet/leaflet.js" th:src="@{/vendors/leaflet/leaflet.js}"></script>
<script src="../../static/vendors/leaflet.markercluster/leaflet.markercluster.js" th:src="@{/vendors/leaflet.markercluster/leaflet.markercluster.js}"></script>
<script src="../../static/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js" th:src="@{/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js}"></script>
<script src="../../static/assets/js/ecommerce-dashboard.js" th:src="@{/assets/js/ecommerce-dashboard.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation/dist/jquery.validate.min.js" th:src="@{https://cdn.jsdelivr.net/npm/jquery-validation/dist/jquery.validate.min.js}"></script>
