<nav class="navbar navbar-vertical navbar-expand-lg">
  <script>
    var navbarStyle = window.config.config.phoenixNavbarStyle;
    if (navbarStyle && navbarStyle !== 'transparent') {
      document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
    }
  </script>

  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <div class="navbar-vertical-content">
      <ul class="navbar-nav" id="navbarVerticalNav">
        <!--Home-->
        <li class="nav-item">
          <a class="nav-link label-1" href="../home" th:href="@{/home}" role="button">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon fas fa-home"></span>
              <span class="nav-link-text mx-2">Inicio</span>
            </div>
          </a>
        </li>
        <!--Payments-->
        <li class="nav-item">
          <a class="nav-link label-1" href="../receipts" th:href="@{/receipts}" role="button">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon fas fa-wallet"></span>
              <span class="nav-link-text mx-2">Mis pagos</span>
            </div>
          </a>
        </li>
        <!--Users-->
        <li class="nav-item">
          <a class="nav-link label-1" href="../users" th:href="@{/users}" role="button">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon fas fa-users"></span>
              <span class="nav-link-text mx-2">Usuarios</span>
            </div>
          </a>
        </li>
        <!--Profile-->
        <li class="nav-item">
          <a class="nav-link label-1" href="../home" th:href="@{/home}" role="button">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon fas fa-user"></span>
              <span class="nav-link-text mx-2">Perfil</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault">
  <div class="collapse navbar-collapse justify-content-between">
    <div class="navbar-logo">
      <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggle-icon">
          <span class="toggle-line"></span>
        </span>
      </button>

      <a class="navbar-brand me-1 me-sm-3" href="../home" th:href="@{/home}">
        <div class="d-flex align-items-center">
          <div class="d-flex align-items-center">
            <img src="../../static/assets/Logo.png" th:src="@{/assets/Logo.png}" alt="Asada" width="27"/>
            <p class="logo-text mx-1 d-none d-sm-block">Asada Villa Alegre</p>
          </div>
        </div>
      </a>
    </div>

    <ul class="navbar-nav navbar-nav-icons flex-row">
      <li class="nav-item">
        <div class="theme-control-toggle fa-icon-wait px-2">
          <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
          <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Cambiar tema">
            <span class="icon" data-feather="moon"></span>
          </label>
          <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Cambiar tema">
            <span class="icon" data-feather="sun"></span>
          </label>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-l">
            <img class="rounded-circle" src="../../static/assets/img/team/40x40/avatar.webp" th:src="@{/assets/img/team/40x40/avatar.webp}" alt=""/>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
          <div class="card position-relative border-0">
            <div class="card-body p-0">
              <div class="text-center pt-4 pb-3">
                <div class="avatar avatar-xl">
                  <img src="../../static/assets/img/team/72x72/avatar.webp" th:src="@{/assets/img/team/72x72/avatar.webp}" alt=""/>
                </div>
                <h6>
                  <span th:text="${#authentication.name}"></span>
                </h6>
                <form th:action="@{/logout}" th:method="post">
                  <input class="btn btn-soft-danger" type="submit" value="Cerrar sesión">
                </form>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>